h1 {
    text-align: center;
    background-color: yellow;
}

#container {
    height: 100px;
    width: 400px;
    margin: auto;
}

#input {
    height: 1cm;
    width: 7cm;
    border: 2px solid black;
}

button {
    height: 1cm;
    width: 1cm;
    background-color: chartreuse;
    font-weight: bolder;
    border: 3px solid black;
}

ol {
    margin-left: 12cm;
}

li {
    padding: 5px;
    width: 5cm;
    background-color: yellow;
    border: 2px solid black;
    cursor: pointer;
    font-size: 0.5cm;
    font-weight: bold;
    margin-top: 0.2cm;
}

 @media only screen and (max-width: 600px) {
            body {
                background-color: rgb(241, 244, 245);
            }
            ol {
                margin-left: 0rem;
            }
            li {
                width: 4cm;
            }
            h1 {
                margin-left: 1rem;
                width: 60%;
            }
            #input {
                width: 5cm;
                margin-left: 0.3cm;
            }
            #container {
                height: 100px;
                width: 80%;
                margin: auto;
                margin-left: 0.1cm;
            }
        }
